/* src/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'AvenirLTStd';
    src: url('./assets/fonts/Avenir/AvenirLTStd-Black.otf') format('opentype');
    font-weight: 900; /* Black */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AvenirLTStd';
    src: url('./assets/fonts/Avenir/AvenirLTStd-Book.otf') format('opentype');
    font-weight: 400; /* Book */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AvenirLTStd';
    src: url('./assets/fonts/Avenir/AvenirLTStd-Medium.otf') format('opentype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  ion-content {
    --background: white;
  }